

* {
    box-sizing: border-box ;
}

html, body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 0 0 ; 
    padding: 0 0 ; 
    overflow-x: hidden ;
    margin: 20px 0 ;
}

main {
    min-block-size: 3500px ;
    max-inline-size: 1700px ;  
    margin: auto ;
    padding: 30px 30px 30px 30px ;
    box-shadow: 2px 2px 5px 9px rgba(128, 128, 128, 0.344) ;  
    border: solid thin ;
}

p {
    line-height: 0.1cm ;
    white-space: nowrap ;
}

img {
    inline-size: 200px ;
    block-size: 200px ;
    float: right ;
    border-radius: 50% ;
    margin: -10px ;
} 

.intro {
    border-radius: 10px ;
    padding: 30px 30px 0 0 ;
    background-color: rgba(190, 190, 190, 0.234) ;
    word-break: break-all ;
}

.name {
    float: center ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: bold ;
    font-size: x-large ;
    justify-content: center ;
    padding: 0 0 10px 40px ;
}

.contact {
    padding: 2px 2px 2px 2px ;
    line-height: 0.3cm ;
    block-size: 220px ;
}

.address, .phone,.license,.mail,.nationality {
    inline-size: 1600px ;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: medium ;
    margin: 0 0 0 0 ;
    padding: 30px 0 0 40px ;
}

h1 {
    font-size: 20pt ;
    font-weight: 600 ;
    letter-spacing: 0.03cm ;
}

.white-space1{
    block-size: 100px;
}

.white-space2 {
    block-size: 100px ;
}

.white-space3 {
    block-size: 20px ;
}

.career, .education {
    padding: 2px ;
}

.employer li, .school li {
    display: inline-block ;
    padding: 50px 0 0 50px ;
    margin: 0 0 0 0 ;
    inline-size: 200px ;
    block-size: 50px ;
    white-space: nowrap ;
}

.employer li > span.company {
    font-weight: bold ;
}

.school li > span.institution {
    font-weight: bold ;
}

.employer li ul li, .school li ul li {
    display: block ;
}

.employer > .date  {
    padding: 0 0 0 40px ;
    white-space: wrap ;
}

.school > .date {
    padding: 0 0 0 40px ;
    white-space: wrap ;
}

.experience {
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
}

.position-title, .degree-title {
    font-weight: bold ;
    padding: 0 0 0 50px ;
    margin: 8px 0 0 280px ;
    white-space: wrap ;
}

.missions, .courses {
    padding: 0 0 0 60px ;
    margin: 8px 0 0 280px ;
    white-space: wrap ;
    line-height: 0.7cm ;
}

.skills {
    padding: 0 0 0 50px ;
    margin: 30px 0 0 280px ; 
    font-style: italic ;
}

.role-info, .degree-info {
    padding: 10px 0 0 0 ;
    white-space: wrap ;
}

.company, .institution {
    padding: 0 0 0 50px ;
}

.abilities-1 {
    margin: 60px 0 0 60px ;
    line-height: 0.8cm;
}